[submodule "source/external/gitsubmodules/assimp"]
	path = source/external/gitsubmodules/assimp
	url = https://github.com/assimp/assimp
	ignore = dirty
[submodule "source/external/gitsubmodules/Vulkan-Headers"]
	path = source/external/gitsubmodules/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
	ignore = dirty
[submodule "source/external/gitsubmodules/PhysX"]
	path = source/external/gitsubmodules/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX
	ignore = dirty
[submodule "source/external/gitsubmodules/stb"]
	path = source/external/gitsubmodules/stb
	url = https://github.com/nothings/stb
	ignore = dirty
[submodule "source/external/gitsubmodules/imgui"]
	path = source/external/gitsubmodules/imgui
	url = https://github.com/ocornut/imgui
	ignore = dirty
[submodule "source/external/gitsubmodules/json"]
	path = source/external/gitsubmodules/json
	url = https://github.com/nlohmann/json
	ignore = dirty
[submodule "source/external/gitsubmodules/Qt-Frameless-Window-DarkStyle"]
	path = source/external/gitsubmodules/Qt-Frameless-Window-DarkStyle
	url = https://github.com/Jorgen-VikingGod/Qt-Frameless-Window-DarkStyle
	ignore = dirty