[submodule "source/external/gitsubmodules/assimp"]
	path = source/external/gitsubmodules/assimp
	url = https://github.com/assimp/assimp
	ignore = dirty
[submodule "source/external/gitsubmodules/Vulkan-Headers"]
	path = source/external/gitsubmodules/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
	ignore = dirty
[submodule "source/external/gitsubmodules/bullet3"]
	path = source/external/gitsubmodules/bullet3
	url = https://github.com/bulletphysics/bullet3
	ignore = dirty
[submodule "source/external/gitsubmodules/glfw"]
	path = source/external/gitsubmodules/glfw
	url = https://github.com/glfw/glfw
	ignore = dirty
[submodule "source/external/gitsubmodules/stb"]
	path = source/external/gitsubmodules/stb
	url = https://github.com/nothings/stb
	ignore = dirty
[submodule "source/external/gitsubmodules/imgui"]
	path = source/external/gitsubmodules/imgui
	url = https://github.com/ocornut/imgui
	ignore = dirty