# Build binaries
/Bin
/Build

# Dynamic linking export headers
/Source/Engine/Export
/Source/Game/Export

# Third-party headers and libraries
/Source/External/Include/assimp
/Source/External/Include/GLFW
/Source/External/Include/vulkan
/Source/External/Include/stb
/Source/External/Include/json
/Source/External/Include/GL
/Source/External/Include/DX12
/Source/External/Lib
/Source/External/DLL

# For macOS
\.DS_Store
/Source/Engine/Platform/MacOS/build

# For Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Intermediate assets
*.spv
/Res/ConvertedAssets
/Res/Logs/*

# For Qt
/Source/Editor/*
!/Source/Editor/InnocenceEditor/*

/Source/Engine/Common/Config.h
/Source/Engine/ThirdParty/ImGui
/Source/Editor/InnocenceEditor/darkstyle/
/Source/Editor/InnocenceEditor/DarkStyle\.cpp
/Source/Editor/InnocenceEditor/DarkStyle\.h
/Source/Editor/InnocenceEditor/darkstyle\.qrc
/Source/Editor/InnocenceEditor/InnocenceEditor\.pro\.user

#Packaged files
/Package/*