/bin
/build
/source/engine/exports
/source/game/exports
/source/external/include/assimp
/source/external/include/GLFW
/source/external/include/vulkan
/source/external/include/stb
/source/external/lib
/source/external/dll

\.DS_Store

*.innoModel

/source/engine/common/config.h
/source/engine/third-party/ImGui/*.h
/source/engine/third-party/ImGui/*.cpp
