version: 0.0.{build}
image: Visual Studio 2017
clone_script:
- cmd: >-
    git clone -q --branch=%APPVEYOR_REPO_BRANCH% https://github.com/%APPVEYOR_REPO_NAME%.git %APPVEYOR_BUILD_FOLDER%
        cd %APPVEYOR_BUILD_FOLDER%
        git checkout -q %APPVEYOR_REPO_COMMIT%
        git submodule update --init --recursive
build_script:
- cmd: >-
    @echo | setupWin.bat

    @echo | buildAssimpWin-VS15.bat

    @echo | buildGLFWWin-VS15.bat

    @echo | buildWin-VS15.bat
skip_commits:
  files:
  - '**/*.md'
  - 'res/**/*.*'